// Variables
$primary-color: #191e27;
$secondary-color: #fbea26;
$white: #ffffff;
$light-grey: #e5e5e5;
$dark-grey: lighten(
  $color: $primary-color,
  $amount: 10,
);
$link-color: #145cad;
$btn-1: #174b2c;
$btn-2: $link-color;
$green-light: lighten(
  $color: $btn-1,
  $amount: 25,
);
// Reseting margin and padding for everything and setting box sizing to border box
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Body styling
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: $primary-color;
}

// Website Container
.container {
  max-width: 1280px;
  margin: 0 auto;
}
