
// color

$anmal: rgb(4, 4, 31);
$hitta: rgb(11, 36, 21);
$ledare:rgb(27, 29, 92);
$myh:rgb(185, 177, 177);

//mixin for button type

@mixin btn-type ($type, $color:white) {
    background-color: $type;
    color:$color;
    &:active {
        position: relative;
        top:5px;

    
    }
}

//button section
.btn-myh{
    box-sizing: border-box;
    padding: 50px;
    background-color:$myh;
}


//button

.btn-anmal,.btn-hitta,.btn-ledare {
    font-size: medium;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    padding: .9em .8em;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
    min-width:350px;
    margin-bottom: 10px;
    margin-right: 9px;
}

.btn-anmal{
    @include btn-type($anmal)
}

.btn-hitta {
    @include btn-type($hitta)
}
.btn-ledare{
    @include btn-type($ledare)
}



