// color
$anmal: $secondary-color;
$hitta: $btn-1;
$ledare: $bt-2;
$gd: $btn-2;
$reset: btn-1;

//mixin for button type
@mixin btn-type($type) {
  background-color: $type;
  color: $white;
  transition: all 0.2s ease-in-out;
  // &:hover {
  //   background-color: $secondary-color;
  //   color: $primary-color;
  // }
  &:active {
    position: relative;
    top: 8px;
  }
}

//button section
.btn-myh {
  box-sizing: border-box;
  padding: 4rem;
  margin: 0 auto;

  .btn-container-start {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    // //button
    .btn-anmal,
    .btn-hitta,
    .btn-ledare,
    .btn-gd {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      border-radius: 1rem;
      text-transform: uppercase;
      text-align: center;
      width: 350px;
      font-weight: bold;
    }
    .btn-start-page {
      margin: 1em;
    }
    .btn-anmal {
      color: $primary-color;
      &:hover {
        background-color: darken($color: $secondary-color, $amount: 10);
      }
    }
    .btn-hitta {
      color: $white;
      &:hover {
        background-color: darken($color: $hitta, $amount: 10);
      }
    }
    .btn-ledare {
      color: $white;
      &:hover {
        background-color: darken($color: $ledare, $amount: 10);
      }
    }
  }
}

.btn-anmal {
  @include btn-type($anmal);
}

.btn-hitta {
  @include btn-type($hitta);
}
.btn-ledare {
  @include btn-type($ledare);
}

.btn-gd {
  @include btn-type($gd);
}

@media only screen and (max-width: 730px) {
  .btn-myh {
    .btn-container-start {
      //button
      .btn-anmal,
      .btn-hitta,
      .btn-ledare,
      .btn-gd {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        border-radius: 1rem;
        text-transform: uppercase;
        text-align: center;
      }
    }
  }
}
