footer {
  .footer-main {
    background: linear-gradient(
      90deg,
      $primary-color 60%,
      $secondary-color 40%
    );
  }

  .container {
    display: flex;

    @include responsive(800) {
      flex-direction: column;
    }
  }

  h2 {
    font-size: 2rem;
    text-transform: uppercase;

    @include responsive(1230) {
      font-size: 1.5rem;
    }

    @include responsive(960) {
      font-size: 1.3rem;
    }

    @include responsive(840) {
      font-size: 1rem;
    }

    &::before {
      content: "";
      width: 10px;
      height: 24px;
      background-color: $secondary-color;
      display: inline-block;
      margin-right: 10px;
    }
  }

  .footer-left {
    background-color: $primary-color;
    flex: 2;
    padding: 4rem 0 4rem 1rem;
    color: $white;

    h2 {
      margin-bottom: 2rem;
    }

    .footer-contact {
      padding: 1rem 0;
      font-size: 1.2rem;

      @include responsive(960) {
        font-size: 1rem;
      }

      .contact-title {
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: 0.5rem;

        @include responsive(960) {
          font-size: 1.2rem;
        }
      }
    }
  }

  .footer-right {
    background-color: $secondary-color;
    flex: 1;
    padding: 4rem 0 4rem 1rem;
    color: $primary-color;

    h2 {
      margin-bottom: 2rem;

      &::before {
        background-color: $primary-color;
      }
    }

    ul {
      list-style: none;

      li {
        padding: 0.5rem 1rem;
      }

      a {
        color: $primary-color;
        font-size: 1rem;
      }
    }

    .external-websites {
      i {
        font-size: 0.8rem;
        margin-left: 0.5rem;
      }
    }

    .internal-links {
      margin-top: 3rem;
    }
  }

  // Footer bar
  .footer-bar {
    background: linear-gradient(
      90deg,
      $secondary-color 60%,
      $primary-color 40%
    );

    .footer-left {
      background-color: $secondary-color;
      padding: 1rem 0 1rem 1rem;
      color: $primary-color;

      @include responsive(800) {
        text-align: center;
      }
    }

    .footer-right {
      background-color: $primary-color;
      padding: 1rem 0 1rem 1rem;
      color: $white;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      a {
        color: $white;
        display: flex;
        align-items: center;
      }
    }

    .youtube {
      i {
        font-size: 1.5rem;
        margin-left: 0.5rem;
      }

      @include responsive(1230) {
        padding-right: 1rem;
        padding-left: 0;
      }

      @include responsive(800) {
        justify-content: center;
      }
    }
  }
}
