/* NAVBAR starts here */
.main-nav {
  background-color: $white;
  z-index: 999;

  @include responsive(1280) {
    padding: 0 1rem;
  }

  @include responsive(800) {
    padding: 1rem;
  }

  .nav-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include responsive(800) {
      flex-direction: column;
      align-items: flex-start;
    }

    a {
      color: $primary-color;
      text-decoration: none;
      display: block;
    }

    ul {
      list-style: none;
    }

    .logo {
      height: 55px;
    }

    .menu {
      display: flex;
      // flex: 1;
      align-items: center;
      justify-content: space-between;

      @include responsive(800) {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-top: 2rem;
      }

      .item {
        position: relative;
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1em;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: $secondary-color;
        }

        @include responsive(800) {
          width: 100%;
          border-bottom: 1px solid $primary-color;
        }
      }

      .menu-nav {
        padding: 2.5rem 1.5rem;
        transition: padding 0.4s ease-out;

        @include responsive(800) {
          padding: 1rem;
        }
      }

      .dropdown {
        position: relative;
        margin-right: 1rem;

        @include responsive(800) {
          margin-right: 0;
        }

        .dropdown-content {
          display: none;
          flex-direction: column;
          position: absolute;
          left: 0;
          top: 100%;
          background-color: #f9f9f9;
          min-width: 160px;
          width: max-content;
          padding: 0.5rem;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 999;

          @include responsive(800) {
            position: relative;
            box-shadow: none;
            width: 100%;
          }

          li {
            border-bottom: 1px solid $primary-color;
            transition: all 0.3s ease-out;

            &:last-child {
              border-bottom: none;
            }

            &:hover {
              background-color: $secondary-color;
            }

            a {
              color: $primary-color;
              padding: 0.8rem 1.2rem;
              text-decoration: none;
              display: block;
              text-align: left;
            }
          }
        }

        &:hover .dropdown-content {
          display: flex;
        }
      }

      .search-container {
        #search-bar {
          @include responsive(1050) {
            display: none;
          }

          @include responsive(800) {
            display: block;
            margin-left: 1rem;
            width: 100%;
          }
        }

        @include responsive(800) {
          display: flex;
          align-items: center;
          margin-top: 1rem;
          padding: 0 1rem;
          width: 100%;
        }
      }
    }
    #search-bar {
      // float: right;
      padding: 6px;
      border: 1px solid grey;
      font-size: 17px;
    }

    // Mobile Nav Btn
    .mobile-nav-btn {
      display: none;

      i {
        font-size: 3rem;
      }

      @include responsive(800) {
        display: block;
        position: absolute;
        right: 0;
        top: 3px;
      }
    }

    .mobile-menu {
      display: flex !important;
    }
  }
} //end .main-nav

// Sticky
.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);

  .nav-container {
    .menu {
      .menu-nav {
        padding: 2rem 1.5rem;

        @include responsive(800) {
          padding: 1rem;
        }
      }
    }
  }
}
/* NAVBAR ends here */
