.news-section {
  padding: 4rem 0;
  background-color: #c4c4c4;

  @include responsive(730) {
    padding: 2rem;
  }

  @include responsive(600) {
    padding: 2rem 1rem;
  }

  @include responsive(500) {
    padding: 1.5rem 0.3rem;
  }

  h2 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  .news-content {
    display: flex;
    justify-content: space-between;

    @include responsive(730) {
      flex-direction: column;
    }

    .news-item {
      flex-basis: 32%;
      padding: 0.5rem;

      @include responsive(800) {
        flex-basis: 33%;
      }

      @include responsive(730) {
        flex-basis: 100%;
      }

      img {
        width: 100%;
        height: 190px;
        object-fit: cover;
        opacity: 1;
        transition: opacity 0.2s ease-out;

        &:hover {
          opacity: 0.7;
        }
      }

      figcaption {
        margin-top: 1rem;

        h3 {
          margin-bottom: 0.3rem;
        }
      }
    }
  }
}
