/* PUBLICATIONS starts here */
.breadcrumbs {
  padding: 1em;
}

.publications-container {
  //border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  background-color: #f5f5f5;

  .landing-page-heading {
    padding-left: 0.8rem;
  }

  .main-section {
    //border: 1px solid black;
    flex: 2;
    margin-right: 1em;
    padding-left: 1em;
    background-color: white;
    article {
      margin: 1em;
      background-color: white;

      .preamble {
        margin: 1em 3em 1em 0;
      }
      p {
        margin: 1em 4em 1em 0;
      }
      .landing-page-img {
        width: 100%;
      }
    }
  } //end MAIN-SECTION

  .publication-list {
    .pub-item {
      display: flex;
      border-bottom: 1px solid lighten($color: $primary-color, $amount: 50);
      background-color: #e5e5e5;

      img {
        flex: 1;
        padding: 1em;
      }

      .pub-item-content {
        flex: 3;
        padding: 1em;

        .preview {
          .release-date {
            margin-right: 1em;
            text-transform: uppercase;
            font-size: 0.8 em;
            font-weight: bold;
            color: lighten($color: $primary-color, $amount: 50);
          }
        }
      }
    }
  }
  .page-select {
    display: flex;
    justify-content: flex-end;
    .pagination {
      display: flex;
      // background-color: #174b2c;

      li {
        list-style: none;
        padding: 1em;
        border-left: 1px solid lighten($color: $primary-color, $amount: 50);
      }
    } //end PAGINATION
  }
  aside {
    // border: 1px solid black;
    flex: 1;
    padding-left: 1em;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1em;

    .publication-search {
      margin: 1em 0;
    }

    .filters-section {
      .btn-reset {
        font-size: medium;
        font-weight: bold;
        color: $primary-color;
        font-size: 1em;
        text-align: center;
        margin: 1em 0;
        padding: 1rem;
        border: none;
        border-radius: 1rem;
        text-decoration: none;
        display: inline-block;
        background-color: $green-light;
        transition: all 0.1s ease-in-out;

        &:hover {
          background-color: $btn-1;
          color: $white;
        }
      }

      .filter-type {
        padding: 1em 0.5em 1em 0.5em;
        margin: 1em 0 1em 0;
        border-top: 1px solid lighten($color: $primary-color, $amount: 50);

        .filter-heading {
          font-size: 1.3em;
        }

        .filter-options {
          list-style: none;
          line-height: 1.5em;

          li {
            display: flex;
            justify-content: space-between;
            padding: 1em 0;
            margin: 0 1em;
            border-bottom: 1px solid lighten($color: $primary-color, $amount: 50);

            .reset {
              font-weight: bold;
              margin-left: -1em;
            }

            a {
              color: #0080cc;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .landing-page-heading {
    font-size: 3em;
  }
}
/* PUBLICATIONS ends here */
