.list {
    background-color: #FBEA26;
    width: 50rem;
    height: 22rem;
    position: relative;
    font-size: 20px;
}

h2, p, hr { 
    margin: 10px; // When i put margin on the h2 tag, it puts the margin on the entire div instead, moving the div
}

h2 {
    text-transform: uppercase;
}

hr {
    margin-right: 45%
}

.information {
    background-color: #191E27;
    width: 20rem;
    height: 100%;
    position: relative;
    float: right;
    // margin: 10px; I want to use magin here but it moves the div outside of the "list" div
}

.infotext {
    text-align: center;
    padding: 25% 0; //How do I vertically center the text?
    color: white;
}