.hero {
  width: 100%;
  height: 628px;
  position: relative;
  overflow: hidden;
  background: palevioletred;
  display: flex;
  justify-content: center;
}

.slideshow {
  width: 1024px;
  max-width: 100%;
  height: 100%;
  background: slategrey;
}

.slide {
  width: 100%;
  height: 100%;
  padding: 125px 113px;
  display: flex;
  align-items: center;
}
.slide-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  filter: brightness(40%);

  &-1 {
    background-image: url("../i1.jpg");
  }
}

.slide-text {
  position: relative;

  h2 {
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 76px;
  }
  .slide-button {
    font-size: 25px;
    background-color: #fbea26;
    color: black;
    padding: 12px 36px;
    text-transform: uppercase;
    text-decoration: none;
  }
}

// .slideshow-item {
//   width: inherit;
//   height: inherit;
//   position: absolute;
//   opacity: 0;
//   animation: cycleImages 101s infinite;
// }

// .slideshow-item:nth-child(1) {
//   animation-delay: 0s;
// }
// .slideshow-item:nth-child(2) {
//   animation-delay: 10s;
// }
// .slideshow-item:nth-child(3) {
//   animation-delay: 20s;
// }
// .slideshow-item:nth-child(4) {
//   animation-delay: 30s;
// }
// .slideshow-item:nth-child(5) {
//   animation-delay: 40s;
// }

// .slideshow-item img {
//   width: 100%;
//   // height: 400px;
//   height: 100%;
//   object-fit: cover;
// }

// .slideshow-item-text {
//   max-width: 40%;
//   position: absolute;
//   top: 50%;
//   left: 0;
//   transform: translateY(-50%);
//   background-color: rgba(0, 0, 0, 0.8);
//   color: #fff;
//   padding: 1rem 1rem;
// }

// .slideshow-item-text h5 {
//   font-size: 2.5rem;
//   font-family: Arial, Helvetica, sans-serif;
//   text-transform: uppercase;
//   letter-spacing: 3px;
//   margin-bottom: 1.5rem;
// }
// .slideshow-item-text p {
//   font-size: 1rem;
//   font-family: Georgia, "Times New Roman", Times, serif;
//   letter-spacing: 1px;
//   margin-bottom: 2.5rem;
//   font-weight: 300px;
// }

// @keyframes cycleImages {
//   10% {
//     opacity: 1;
//   }
//   20% {
//     opacity: 0;
//   }
// }
