.hero {
  width: 100%;
  height: 628px;
  overflow: hidden;
}

.slideshow {
  width: 100%;
  height: 100%;
  background: slategrey;
  position: relative;
  display: flex;
  align-items: center;
}

.slide {
  width: 100%;
  height: 100%;
  padding: 125px 113px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;

  &-active {
    z-index: 1;
  }
}

.slide-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  filter: brightness(40%);

  &-1 {
    background-image: url("../i1.jpg");
  }
  &-2 {
    background-image: url("../i2.jpg");
  }
  &-3 {
    background-image: url("../i3.jpg");
  }
}

.slide-text {
  position: relative;

  h2 {
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 76px;
  }
  .slide-button {
    font-size: 25px;
    background-color: #fbea26;
    color: black;
    padding: 12px 36px;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.slide-arrow-left,
.slide-arrow-right {
  position: absolute;
  background: transparent;
  border: none;
  background-repeat: no-repeat;
  background-size: 34px;
  background-position: center;
  width: 74px;
  height: 100px;
  cursor: pointer;
  transition: background-size 0.2s ease-out;
  z-index: 2;

  &:hover {
    background-size: 40px;
  }
}

.slide-arrow-left {
  left: 0;
  background-image: url("../left-arrow.svg");
}
.slide-arrow-right {
  right: 0;
  background-image: url("../right-arrow.svg");
}
