$breakpoint-desktop: 800px;
$breakpoint-tablet: 540px;

.hero {
  height: 300px;
  width: 100%;
  overflow: hidden;
  @media (min-width: $breakpoint-tablet) {
    height: 420px;
  }
  @media (min-width: $breakpoint-desktop) {
    height: 628px;
  }
}

.slideshow {
  width: 100%;
  height: 100%;
  background: slategrey;
  position: relative;
  display: flex;
  align-items: center;

}

.slide {
  width: 100%;
  height: 100%;
  padding: 125px 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
@media (min-width: $breakpoint-desktop) {
  padding: 125px 113px;

}
  &-active {
    z-index: 2;
    animation: show-slide 1s ease-out;
  }

  &-previous {
    z-index: 1;
  }
}

.slide-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  filter: brightness(40%);

  &-1 {
    background-image: url("../images/slideshow/i1.jpg");
  }
  &-2 {
    background-image: url("../images/slideshow/i2.jpg");
  }
  &-3 {
    background-image: url("../images/slideshow/i3.jpg");
  }
}

.slide-text {
  position: relative;

  h2 {
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 45px;

    @media (min-width: $breakpoint-desktop) {
      font-size: 50px;
      margin-bottom: 76px;
    
  } 

  }
  .slide-button {
    font-size: 18px;
    background-color: #fbea26;
    color: black;
    padding: 12px 24px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    @media (min-width: $breakpoint-tablet) {
      text-align: left;
      width: auto;
    }
    @media (min-width: $breakpoint-desktop) {
      font-size: 25px;
      padding: 12px 36px;
    }
    
    
  }
}

.slide-arrow-left,
.slide-arrow-right {
  position: absolute;
  background: transparent;
  border: none;
  background-repeat: no-repeat;
  background-size: 34px;
  background-position: center;
  width: 74px;
  height: 100px;
  cursor: pointer;
  transition: background-size 0.2s ease-out;
  z-index: 2;

  &:hover {
    background-size: 40px;
  }
}

.slide-arrow-left {
  left: 0;
  background-image: url("../images/slideshow/left-arrow.svg");
}
.slide-arrow-right {
  right: 0;
  background-image: url("../images/slideshow/right-arrow.svg");
}

@keyframes show-slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}


// @media only screen and (max-width: 420px) {
//   .slideshow {
//     width: 100%;
//     height: 30%;
//     color: red;

//   }
 
//   .slide {
//     padding: 2%;
//   }
// }
