
.statistic{
    background-color: rgb(255, 254, 254);
    border: black solid 2px;
    margin: 1rem;
    
    .statistic-navbar {
        text-align: left;
        background-color: $primary-color;
        padding: 2rem;
        width: 20rem;
        height: auto;
        float: auto;
        margin-left: 10rem;

        aside {
            padding : 1rem;
            .side-menu {
              background-color: $primary-color;
              .title {
                color: $white;
                font-weight: bold;
              }
              .description {
                color: white;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.3s;
              }
              /* för description bredvid active */
              .active + .description {
                max-height: 200px;
                transition: max-height 0.2s;
              }
              ul {
                list-style: none;
                padding: 1em;
                text-decoration: none;
                line-height: 1.5em;
                a {
                  color: white;
                }
              }
            }
              }
            }h2{
        text-align: left;
        padding-left: 5rem;
    }
    .float-img{
        float: right;
        padding-right: 10rem;
        height: auto;
        width: auto;
    }
    .statistic-main{
        text-align: left;
        padding: 2rem;
    }

    @media all and (max-width: 480px) {
        .float-img {
          width:100%;
          margin: auto;
          float: none;
        }
        .statistic-navbar{
          width:100%;
          margin: auto;
          float: none;
        }
    }
}




