
.div2 {
    text-align: left;
    background-color: $primary-color;
    padding: 1rem;
    width: 20rem;
    height: 20rem;
    float: auto;
    margin-left: 4rem;
}
li a{
    display: block;
    color: $white;
}
li a:hover:not(.active){
    background-color: $secondary-color;
    color: $primary-color;
}
.float-img{
    float: right;
    padding-right: 4rem;
    height: auto;
    width: auto;
}

.div3{
    background-color: $white;
    float: right;
    padding: 2rem;
    height: auto;
    width: auto;
    text-align: left;
}
@media all and (max-width: 480px) {
    .float-img {
      width:100%;
      margin: 5px auto;
      float: none;
    }
    .div2{
      width:100%;
      margin: 5px auto;
      float: none;
    }
}


