ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.topnav {
  padding: 1rem 0 1rem 1rem;
  margin: 0rem;
  background-color: $primary-color;
  color: #dddddd;
}

li {
  float: right;
}

li a {
  display: block;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  color: $primary-color;
  background-color: $secondary-color;
  margin-right: 1rem;
  &:hover {
    background-color: $primary-color;
    color: $secondary-color;
  }
}
/* this is the right bag*/
