* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: #191E27;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.hero {
  width: 100%;
  height: 628px;
  overflow: hidden;
}

.slideshow {
  width: 100%;
  height: 100%;
  background: slategrey;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide {
  width: 100%;
  height: 100%;
  padding: 125px 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
}

.slide-active {
  z-index: 2;
  -webkit-animation: show-slide 1s ease-out;
          animation: show-slide 1s ease-out;
}

.slide-previous {
  z-index: 1;
}

.slide-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.slide-image-1 {
  background-image: url("../i1.jpg");
}

.slide-image-2 {
  background-image: url("../i2.jpg");
}

.slide-image-3 {
  background-image: url("../i3.jpg");
}

.slide-text {
  position: relative;
}

.slide-text h2 {
  font-size: 50px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 76px;
}

.slide-text .slide-button {
  font-size: 25px;
  background-color: #fbea26;
  color: black;
  padding: 12px 36px;
  text-transform: uppercase;
  text-decoration: none;
}

.slide-arrow-left,
.slide-arrow-right {
  position: absolute;
  background: transparent;
  border: none;
  background-repeat: no-repeat;
  background-size: 34px;
  background-position: center;
  width: 74px;
  height: 100px;
  cursor: pointer;
  -webkit-transition: background-size 0.2s ease-out;
  transition: background-size 0.2s ease-out;
  z-index: 2;
}

.slide-arrow-left:hover,
.slide-arrow-right:hover {
  background-size: 40px;
}

.slide-arrow-left {
  left: 0;
  background-image: url("../left-arrow.svg");
}

.slide-arrow-right {
  right: 0;
  background-image: url("../right-arrow.svg");
}

@-webkit-keyframes show-slide {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes show-slide {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.btn-myh {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4rem;
  background-color: #eee8e8;
}

.btn-anmal, .btn-hitta, .btn-ledare {
  height: 5rem;
  width: 3rem;
  font-size: medium;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  padding: 2rem;
  border: none;
  border-radius: 1rem;
  text-decoration: none;
  display: inline-block;
  min-width: 350px;
}

.btn-anmal {
  background-color: #04041f;
  color: #ffffff;
}

.btn-anmal:hover {
  background-color: #FBEA26;
  color: #191E27;
}

.btn-anmal:active {
  position: relative;
  top: 8px;
}

.btn-hitta {
  background-color: #0b2415;
  color: #ffffff;
}

.btn-hitta:hover {
  background-color: #FBEA26;
  color: #191E27;
}

.btn-hitta:active {
  position: relative;
  top: 8px;
}

.btn-ledare {
  background-color: #1b1d5c;
  color: #ffffff;
}

.btn-ledare:hover {
  background-color: #FBEA26;
  color: #191E27;
}

.btn-ledare:active {
  position: relative;
  top: 8px;
}

footer .footer-main {
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, #191E27), color-stop(40%, #FBEA26));
  background: linear-gradient(90deg, #191E27 60%, #FBEA26 40%);
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

footer h2::before {
  content: "";
  width: 10px;
  height: 24px;
  background-color: #FBEA26;
  display: inline-block;
  margin-right: 10px;
}

footer .footer-left {
  background-color: #191E27;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 4rem 0 4rem 1rem;
  color: #ffffff;
}

footer .footer-left h2 {
  margin-bottom: 2rem;
}

footer .footer-left .footer-contact {
  padding: 1rem 0;
  font-size: 1.2rem;
}

footer .footer-left .footer-contact .contact-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

footer .footer-right {
  background-color: #FBEA26;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 4rem 0 4rem 1rem;
  color: #191E27;
}

footer .footer-right h2 {
  margin-bottom: 2rem;
}

footer .footer-right h2::before {
  background-color: #191E27;
}

footer .footer-right ul {
  list-style: none;
}

footer .footer-right ul li {
  padding: 0.5rem 1rem;
}

footer .footer-right ul a {
  color: #191E27;
  font-size: 1rem;
}

footer .footer-right .internal-links {
  margin-top: 3rem;
}

footer .footer-bar {
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, #FBEA26), color-stop(40%, #191E27));
  background: linear-gradient(90deg, #FBEA26 60%, #191E27 40%);
}

footer .footer-bar .footer-left {
  background-color: #FBEA26;
  padding: 1rem 0 1rem 1rem;
  color: #191E27;
}

footer .footer-bar .footer-right {
  background-color: #191E27;
  padding: 1rem 0 1rem 1rem;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-bar .footer-right a {
  color: #ffffff;
}
