* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: #191E27;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.services {
  -ms-grid-columns: 0.1fr 2fr 5px 1fr 0.1fr;
      grid-template-columns: 0.1fr 2fr 5px 1fr 0.1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". services-main . calender-main .";
  grid-gap: 20px;
  margin: 20px;
}

#services-main {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: services-main;
}

#calender-main {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: calender-main;
}

#services-main {
  background-color: #FBEA26;
  height: 70vh;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
  display: -ms-grid;
  display: grid;
      grid-template-areas: "item-1 item-8" "item-2 item-8" "item-3 item-8" "item-4 item-8" "item-5 item-8" "item-6 item-8" "item-7 item-8";
}

.item {
  border-bottom: solid 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

.item-1 {
  text-transform: uppercase;
  font-size: 30px;
}

p {
  color: #191E27;
}

.item-7 {
  border: transparent;
}

.item-8 {
  background-color: #191E27;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px;
}

.item-8 > p {
  color: white;
  margin: 10px;
}

#left {
  font-size: 20px;
}

#left > p:hover {
  cursor: pointer;
}

.item-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: item-1;
}

.item-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: item-2;
}

.item-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: item-3;
}

.item-4 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: item-4;
}

.item-5 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: item-5;
}

.item-6 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: item-6;
}

.item-7 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: item-7;
}

.item-8 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 7;
  -ms-grid-column: 2;
  grid-area: item-8;
}

#calender-main {
  height: 70vh;
  -ms-grid-columns: 2fr 4fr;
      grid-template-columns: 2fr 4fr;
  -ms-grid-rows: 1fr 0.7fr (1fr)[3] 0.5fr;
      grid-template-rows: 1fr 0.7fr repeat(3, 1fr) 0.5fr;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "list-1 list-1" "list-2 list-2" "list-3 list-4" "list-5 list-6" "list-7 list-8" "list-9 list-9";
  position: relative;
  border: solid 2.5px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text {
  margin-left: 15px;
}

#grey {
  background-color: lightgrey;
}

#date {
  font-size: 50px;
}

.list-1 {
  background-color: #FBEA26;
  border-bottom: solid 2.5px;
  text-transform: uppercase;
  font-size: 20px;
}

.list-2 {
  font-size: 17px;
}

.list-9 {
  border-top: solid 2.5px;
}

#last {
  margin-left: 250px;
  text-decoration: underline;
}

#last:hover {
  cursor: pointer;
}

.list-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: list-1;
}

.list-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: list-2;
}

.list-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: list-3;
}

.list-4 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: list-4;
}

.list-5 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: list-5;
}

.list-6 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: list-6;
}

.list-7 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: list-7;
}

.list-8 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: list-8;
}

.list-9 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: list-9;
}

.btn-myh {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px;
  background-color: #b9b1b1;
}

.btn-anmal, .btn-hitta, .btn-ledare {
  font-size: medium;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  padding: .9em .8em;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  display: inline-block;
  min-width: 350px;
  margin-bottom: 10px;
  margin-right: 9px;
}

.btn-anmal {
  background-color: #04041f;
  color: white;
}

.btn-anmal:active {
  position: relative;
  top: 5px;
}

.btn-hitta {
  background-color: #0b2415;
  color: white;
}

.btn-hitta:active {
  position: relative;
  top: 5px;
}

.btn-ledare {
  background-color: #1b1d5c;
  color: white;
}

.btn-ledare:active {
  position: relative;
  top: 5px;
}

footer .footer-main {
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, #191E27), color-stop(40%, #FBEA26));
  background: linear-gradient(90deg, #191E27 60%, #FBEA26 40%);
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

footer h2::before {
  content: "";
  width: 10px;
  height: 24px;
  background-color: #FBEA26;
  display: inline-block;
  margin-right: 10px;
}

footer .footer-left {
  background-color: #191E27;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 4rem 0 4rem 1rem;
  color: #ffffff;
}

footer .footer-left h2 {
  margin-bottom: 2rem;
}

footer .footer-left .footer-contact {
  padding: 1rem 0;
  font-size: 1.2rem;
}

footer .footer-left .footer-contact .contact-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

footer .footer-right {
  background-color: #FBEA26;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 4rem 0 4rem 1rem;
  color: #191E27;
}

footer .footer-right h2 {
  margin-bottom: 2rem;
}

footer .footer-right h2::before {
  background-color: #191E27;
}

footer .footer-right ul {
  list-style: none;
}

footer .footer-right ul li {
  padding: 0.5rem 1rem;
}

footer .footer-right ul a {
  color: #191E27;
  font-size: 1rem;
}

footer .footer-right .internal-links {
  margin-top: 3rem;
}

footer .footer-bar {
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, #FBEA26), color-stop(40%, #191E27));
  background: linear-gradient(90deg, #FBEA26 60%, #191E27 40%);
}

footer .footer-bar .footer-left {
  background-color: #FBEA26;
  padding: 1rem 0 1rem 1rem;
  color: #191E27;
}

footer .footer-bar .footer-right {
  background-color: #191E27;
  padding: 1rem 0 1rem 1rem;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-bar .footer-right a {
  color: #ffffff;
}
