@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #191e27;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: #191e27;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.hero {
  width: 100%;
  height: 628px;
  overflow: hidden;
}

.slideshow {
  width: 100%;
  height: 100%;
  background: slategrey;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide {
  width: 100%;
  height: 100%;
  padding: 125px 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
}

.slide-active {
  z-index: 2;
  -webkit-animation: show-slide 1s ease-out;
          animation: show-slide 1s ease-out;
}

.slide-previous {
  z-index: 1;
}

.slide-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.slide-image-1 {
  background-image: url("../images/slideshow/i1.jpg");
}

.slide-image-2 {
  background-image: url("../images/slideshow/i2.jpg");
}

.slide-image-3 {
  background-image: url("../images/slideshow/i3.jpg");
}

.slide-text {
  position: relative;
}

.slide-text h2 {
  font-size: 50px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 76px;
}

.slide-text .slide-button {
  font-size: 25px;
  background-color: #fbea26;
  color: black;
  padding: 12px 36px;
  text-transform: uppercase;
  text-decoration: none;
}

.slide-arrow-left,
.slide-arrow-right {
  position: absolute;
  background: transparent;
  border: none;
  background-repeat: no-repeat;
  background-size: 34px;
  background-position: center;
  width: 74px;
  height: 100px;
  cursor: pointer;
  -webkit-transition: background-size 0.2s ease-out;
  transition: background-size 0.2s ease-out;
  z-index: 2;
}

.slide-arrow-left:hover,
.slide-arrow-right:hover {
  background-size: 40px;
}

.slide-arrow-left {
  left: 0;
  background-image: url("../images/slideshow/left-arrow.svg");
}

.slide-arrow-right {
  right: 0;
  background-image: url("../images/slideshow/right-arrow.svg");
}

@-webkit-keyframes show-slide {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes show-slide {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/* TOPNAV starts here */
.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding: 1rem 0 1rem 1rem;
  margin: 0rem;
  background-color: #191e27;
  color: #dddddd;
}

.topnav li {
  float: right;
}

.topnav li a {
  display: block;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  color: #191e27;
  background-color: #fbea26;
  margin-right: 1rem;
}

.topnav li a:hover {
  background-color: #191e27;
  color: #fbea26;
}

/* this is the right bag*/
/* TOPNAV ends here */
/* NAVBAR starts here */
.main-nav {
  background-color: #ffffff;
  z-index: 999;
}

.main-nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav .sub-menu {
  display: none;
}

.main-nav a {
  color: #191e27;
  text-decoration: none;
}

.main-nav ul {
  list-style: none;
}

.main-nav .logo {
  height: 55px;
}

.main-nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.main-nav .menu .item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main-nav .menu .item:hover {
  background-color: #fbea26;
}

.main-nav .menu .item input[type="checkbox" i] {
  position: absolute;
  left: -9999999px;
}

.main-nav .menu .item #toggle:checked ~ .sub-menu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 250px;
  padding: 1em;
  line-height: 1.8em;
  background-color: #fbea26;
  color: #191e27;
  text-align: left;
  z-index: 99;
}

.main-nav .menu .item #toggle:checked ~ .sub-menu .sub-item {
  border-bottom: 1px solid #191e27;
}

.main-nav .menu .menu-nav {
  padding: 2.5rem 1.5rem;
  -webkit-transition: padding 0.4s ease-out;
  transition: padding 0.4s ease-out;
}

.main-nav #search-bar {
  padding: 6px;
  border: 1px solid grey;
  font-size: 17px;
}

.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);
}

.sticky .menu .menu-nav {
  padding: 2rem 1.5rem;
}

/* NAVBAR ends here */
.services {
  -ms-grid-columns: 5px 2fr 20px 1fr 5px;
      grid-template-columns: 5px 2fr 20px 1fr 5px;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". services-main . calender-main .";
  padding: 4rem 0;
}

.services #services-main {
  background-color: #fbea26;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
  display: -ms-grid;
  display: grid;
      grid-template-areas: "item-1 item-8" "item-2 item-8" "item-3 item-8" "item-4 item-8" "item-5 item-8" "item-6 item-8" "item-7 item-8";
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: services-main;
  padding: 1rem;
}

.services #services-main .item {
  border-bottom: solid 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
  padding: 0 0.4rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.services #services-main .item:hover {
  background-color: rgba(25, 30, 39, 0.2);
  padding-left: 1.5rem;
}

.services #services-main .item-1 {
  text-transform: uppercase;
  font-size: 30px;
}

.services #services-main .item-7 {
  border: transparent;
}

.services #services-main .item-8 {
  background-color: #191e27;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px;
}

.services #services-main .item-8 > p {
  color: white;
  margin: 10px;
}

.services #services-main #left {
  font-size: 20px;
}

.services #services-main #left > p:hover {
  cursor: pointer;
}

.services #services-main .item-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: item-1;
}

.services #services-main .item-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: item-2;
}

.services #services-main .item-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: item-3;
}

.services #services-main .item-4 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: item-4;
}

.services #services-main .item-5 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: item-5;
}

.services #services-main .item-6 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: item-6;
}

.services #services-main .item-7 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: item-7;
}

.services #services-main .item-8 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 7;
  -ms-grid-column: 2;
  grid-area: item-8;
}

.services #calender-main {
  -ms-grid-columns: 2fr 4fr;
      grid-template-columns: 2fr 4fr;
  -ms-grid-rows: 1fr 0.7fr (1fr)[3] 0.5fr;
      grid-template-rows: 1fr 0.7fr repeat(3, 1fr) 0.5fr;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "list-1 list-1" "list-2 list-2" "list-3 list-4" "list-5 list-6" "list-7 list-8" "list-9 list-9";
  position: relative;
  border: solid 2.5px;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: calender-main;
}

.services #calender-main .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services #calender-main .text {
  margin-left: 15px;
}

.services #calender-main #grey {
  background-color: lightgrey;
}

.services #calender-main #date {
  font-size: 50px;
}

.services #calender-main .list-1 {
  background-color: #fbea26;
  border-bottom: solid 2.5px;
  text-transform: uppercase;
  font-size: 20px;
}

.services #calender-main .list-2 {
  font-size: 17px;
}

.services #calender-main .list-9 {
  border-top: solid 2.5px;
}

.services #calender-main #last {
  margin-left: 250px;
  text-decoration: underline;
}

.services #calender-main #last:hover {
  cursor: pointer;
}

.services #calender-main .list-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: list-1;
}

.services #calender-main .list-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: list-2;
}

.services #calender-main .list-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: list-3;
}

.services #calender-main .list-4 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: list-4;
}

.services #calender-main .list-5 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: list-5;
}

.services #calender-main .list-6 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: list-6;
}

.services #calender-main .list-7 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: list-7;
}

.services #calender-main .list-8 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: list-8;
}

.services #calender-main .list-9 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: list-9;
}

.news-section {
  padding: 4rem 0;
  background-color: #c4c4c4;
}

.news-section h2 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.news-section .news-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-section .news-content .news-item {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  padding: 0.5rem;
}

.news-section .news-content .news-item img {
  width: 100%;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.news-section .news-content .news-item img:hover {
  opacity: 0.7;
}

.news-section .news-content .news-item figcaption {
  margin-top: 1rem;
}

.news-section .news-content .news-item figcaption h3 {
  margin-bottom: 0.3rem;
}

.btn-myh {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4rem;
  background-color: #eee8e8;
}

.btn-anmal,
.btn-hitta,
.btn-ledare,
.btn-gd {
  height: 5rem;
  width: 3rem;
  font-size: medium;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  padding: 2rem;
  border: none;
  border-radius: 1rem;
  text-decoration: none;
  display: inline-block;
  min-width: 350px;
}

.btn-anmal {
  background-color: #04041f;
  color: #ffffff;
}

.btn-anmal:hover {
  background-color: #fbea26;
  color: #191e27;
}

.btn-anmal:active {
  position: relative;
  top: 8px;
}

.btn-hitta {
  background-color: #0b2415;
  color: #ffffff;
}

.btn-hitta:hover {
  background-color: #fbea26;
  color: #191e27;
}

.btn-hitta:active {
  position: relative;
  top: 8px;
}

.btn-ledare {
  background-color: #1b1d5c;
  color: #ffffff;
}

.btn-ledare:hover {
  background-color: #fbea26;
  color: #191e27;
}

.btn-ledare:active {
  position: relative;
  top: 8px;
}

.btn-gd {
  background-color: #1dbef2;
  color: #ffffff;
}

.btn-gd:hover {
  background-color: #fbea26;
  color: #191e27;
}

.btn-gd:active {
  position: relative;
  top: 8px;
}

footer .footer-main {
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, #191e27), color-stop(40%, #fbea26));
  background: linear-gradient(90deg, #191e27 60%, #fbea26 40%);
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

footer h2::before {
  content: "";
  width: 10px;
  height: 24px;
  background-color: #fbea26;
  display: inline-block;
  margin-right: 10px;
}

footer .footer-left {
  background-color: #191e27;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 4rem 0 4rem 1rem;
  color: #ffffff;
}

footer .footer-left h2 {
  margin-bottom: 2rem;
}

footer .footer-left .footer-contact {
  padding: 1rem 0;
  font-size: 1.2rem;
}

footer .footer-left .footer-contact .contact-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

footer .footer-right {
  background-color: #fbea26;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 4rem 0 4rem 1rem;
  color: #191e27;
}

footer .footer-right h2 {
  margin-bottom: 2rem;
}

footer .footer-right h2::before {
  background-color: #191e27;
}

footer .footer-right ul {
  list-style: none;
}

footer .footer-right ul li {
  padding: 0.5rem 1rem;
}

footer .footer-right ul a {
  color: #191e27;
  font-size: 1rem;
}

footer .footer-right .external-websites i {
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

footer .footer-right .internal-links {
  margin-top: 3rem;
}

footer .footer-bar {
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, #fbea26), color-stop(40%, #191e27));
  background: linear-gradient(90deg, #fbea26 60%, #191e27 40%);
}

footer .footer-bar .footer-left {
  background-color: #fbea26;
  padding: 1rem 0 1rem 1rem;
  color: #191e27;
}

footer .footer-bar .footer-right {
  background-color: #191e27;
  padding: 1rem 0 1rem 1rem;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-bar .footer-right a {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-bar .youtube i {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.contact-page-wrapper h1 {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
}

.contact-page-wrapper h2 {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
}

.contact-page-wrapper p {
  font-size: 1rem;
  padding-top: 0.5rem;
}

.contact-landing-graphic-wrapper {
  background-color: #191e27;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding-left: 1rem;
}

.contact-landing-graphic-wrapper h1 {
  padding-bottom: 84px;
}

.contact-landing-graphic-wrapper p {
  margin-right: 10%;
}

.placeholder-for-buttons {
  background-color: gray;
}

.placeholder-for-buttons p {
  font-size: 40px;
}

.placeholder-for-breadcrumbs {
  background-color: gray;
}

.placeholder-for-breadcrumbs p {
  font-size: 40px;
}

.contact-cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-card {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#d1cdcd));
  background-image: linear-gradient(white, #d1cdcd);
  border: 1px solid black;
  border-radius: 5px;
  width: 27%;
  padding: 10px;
  margin: 10px;
  line-height: 1.5rem;
}

.contact-card h3 {
  font-size: 1.2rem;
  padding: 0 0 1rem 0;
  text-transform: uppercase;
}

.contact-card-list-hidden {
  list-style: none;
  font-size: 1rem;
}

.iframe-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0 20px 0;
}

.breadcrumbs {
  padding: 1em;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 0;
  background-color: #f5f5f5;
}

.about-container .landing-page-heading {
  padding-left: 0.8rem;
}

.about-container .main-section {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-right: 1em;
  padding-left: 1em;
  background-color: white;
}

.about-container .main-section article {
  margin: 1em;
  background-color: white;
}

.about-container .main-section article .preamble {
  margin: 1em 3em 1em 0;
}

.about-container .main-section article p {
  margin: 1em 4em 1em 0;
}

.about-container .main-section article .landing-page-img {
  width: 100%;
}

.about-container aside {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 1em;
  margin-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 1em;
}

.about-container aside .side-menu {
  background-color: #191e27;
  /* för description bredvid active */
}

.about-container aside .side-menu .title {
  color: white;
  font-weight: bold;
}

.about-container aside .side-menu .description {
  color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s;
  transition: max-height 0.3s;
}

.about-container aside .side-menu .active + .description {
  max-height: 200px;
  -webkit-transition: max-height 0.2s;
  transition: max-height 0.2s;
}

.about-container aside .side-menu ul {
  list-style: none;
  padding: 1em;
  text-decoration: none;
  line-height: 1.5em;
}

.about-container aside .side-menu ul a {
  color: white;
}

.about-container aside .btn-section {
  margin: 1em 0 0 0;
}

.about-container aside .btn-section .btn {
  height: 5rem;
  width: 100%;
  font-size: medium;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  padding: 2rem;
  border: none;
  border-radius: 1rem;
  text-decoration: none;
  display: inline-block;
  min-width: 350px;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.about-container aside .btn-section .gd {
  background-color: #174b2c;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.about-container aside .btn-section .gd:hover {
  background-color: #0b2415;
}

.about-container aside .btn-section .hitta {
  background-color: #fbea26;
  color: #191e27;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.about-container aside .btn-section .hitta:hover {
  background-color: #d1c004;
}

.about-container aside .competitions {
  background-color: #e7e7e7;
  padding: 1em;
}

.landing-page-heading {
  font-size: 3em;
}

/* PUBLICATIONS starts here */
.breadcrumbs {
  padding: 1em;
}

.publications-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 0;
  background-color: #f5f5f5;
}

.publications-container .landing-page-heading {
  padding-left: 0.8rem;
}

.publications-container .main-section {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-right: 1em;
  padding-left: 1em;
  background-color: white;
}

.publications-container .main-section article {
  margin: 1em;
  background-color: white;
}

.publications-container .main-section article .preamble {
  margin: 1em 3em 1em 0;
}

.publications-container .main-section article p {
  margin: 1em 4em 1em 0;
}

.publications-container .main-section article .landing-page-img {
  width: 100%;
}

.publications-container .publication-list .pub-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #8b9ab4;
  background-color: #e5e5e5;
}

.publications-container .publication-list .pub-item img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1em;
}

.publications-container .publication-list .pub-item .pub-item-content {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 1em;
}

.publications-container .publication-list .pub-item .pub-item-content .preview .release-date {
  margin-right: 1em;
  text-transform: uppercase;
  font-size: 0.8 em;
  font-weight: bold;
  color: #8b9ab4;
}

.publications-container .page-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.publications-container .page-select .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.publications-container .page-select .pagination li {
  list-style: none;
  padding: 1em;
  border-left: 1px solid #8b9ab4;
}

.publications-container aside {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 1em;
  margin-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 1em;
}

.publications-container aside ul {
  list-style: none;
  padding: 1em;
  text-decoration: none;
  line-height: 1.5em;
}

.publications-container aside ul a {
  color: white;
}

.publications-container .landing-page-heading {
  font-size: 3em;
}

/* PUBLICATIONS ends here */
.page-services .page-content {
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-services .page-content .sevice-item {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  padding: 1rem;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 2rem;
  -webkit-transition: border 0.3s ease-out;
  transition: border 0.3s ease-out;
}

.page-services .page-content .sevice-item:hover {
  border: 1px solid #191e27;
}

.page-services .page-content .sevice-item:hover img {
  border-radius: 5px;
}

.page-services .page-content .sevice-item:hover a {
  text-decoration: none;
}

.page-services .page-content .sevice-item:hover h2 {
  text-decoration: underline;
}

.page-services .page-content .sevice-item img {
  width: 375px;
  height: 211px;
  -webkit-transition: border-radius 0.3s ease-out;
  transition: border-radius 0.3s ease-out;
}

.page-title {
  padding: 2rem 0;
  text-align: center;
  background-color: #f5f5f5;
  color: #191e27;
}

.page-title h1 {
  font-size: 2rem;
}

.statistic {
  background-color: #fffefe;
  border: black solid 2px;
  margin: 1rem;
}

.statistic .statistic-navbar {
  text-align: left;
  background-color: #191e27;
  padding: 2rem;
  width: 20rem;
  height: 20.6rem;
  float: auto;
  margin-left: 10rem;
}

.statistic .statistic-navbar li a {
  display: block;
  color: #ffffff;
}

.statistic .statistic-navbar li a:hover:not(.active) {
  background-color: #fbea26;
  color: #191e27;
}

.statistic h2 {
  text-align: left;
  padding-left: 5rem;
}

.statistic .float-img {
  float: right;
  padding-right: 10rem;
  height: auto;
  width: auto;
}

.statistic .statistic-main {
  text-align: left;
  padding: 2rem;
}

@media all and (max-width: 480px) {
  .statistic .float-img {
    width: 100%;
    margin: auto;
    float: none;
  }
  .statistic .statistic-navbar {
    width: 100%;
    margin: auto;
    float: none;
  }
}
