@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #191e27;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: #191e27;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.hero {
  height: 300px;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 540px) {
  .hero {
    height: 420px;
  }
}

@media (min-width: 800px) {
  .hero {
    height: 628px;
  }
}

.slideshow {
  width: 100%;
  height: 100%;
  background: slategrey;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide {
  width: 100%;
  height: 100%;
  padding: 125px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
}

@media (min-width: 800px) {
  .slide {
    padding: 125px 113px;
  }
}

.slide-active {
  z-index: 2;
  -webkit-animation: show-slide 1s ease-out;
          animation: show-slide 1s ease-out;
}

.slide-previous {
  z-index: 1;
}

.slide-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.slide-image-1 {
  background-image: url("../images/slideshow/i1.jpg");
}

.slide-image-2 {
  background-image: url("../images/slideshow/i2.jpg");
}

.slide-image-3 {
  background-image: url("../images/slideshow/i3.jpg");
}

.slide-text {
  position: relative;
}

.slide-text h2 {
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 45px;
}

@media (min-width: 800px) {
  .slide-text h2 {
    font-size: 50px;
    margin-bottom: 76px;
  }
}

.slide-text .slide-button {
  font-size: 18px;
  background-color: #fbea26;
  color: black;
  padding: 12px 24px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  text-align: center;
}

@media (min-width: 540px) {
  .slide-text .slide-button {
    text-align: left;
    width: auto;
  }
}

@media (min-width: 800px) {
  .slide-text .slide-button {
    font-size: 25px;
    padding: 12px 36px;
  }
}

.slide-arrow-left,
.slide-arrow-right {
  position: absolute;
  background: transparent;
  border: none;
  background-repeat: no-repeat;
  background-size: 34px;
  background-position: center;
  width: 74px;
  height: 100px;
  cursor: pointer;
  -webkit-transition: background-size 0.2s ease-out;
  transition: background-size 0.2s ease-out;
  z-index: 2;
}

.slide-arrow-left:hover,
.slide-arrow-right:hover {
  background-size: 40px;
}

.slide-arrow-left {
  left: 0;
  background-image: url("../images/slideshow/left-arrow.svg");
}

.slide-arrow-right {
  right: 0;
  background-image: url("../images/slideshow/right-arrow.svg");
}

@-webkit-keyframes show-slide {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes show-slide {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/* TOPNAV starts here */
.topnav {
  background-color: #191e27;
  color: #ffffff;
}

.topnav .topnav-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1280px) {
  .topnav .topnav-main {
    padding: 0 1rem;
  }
}

@media (max-width: 600px) {
  .topnav .topnav-main {
    padding: 0;
  }
}

.topnav .topnav-main .topnav-left {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

@media (max-width: 870px) {
  .topnav .topnav-main .topnav-left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (max-width: 600px) {
  .topnav .topnav-main .topnav-left {
    display: none;
  }
}

.topnav .topnav-main .topnav-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topnav .topnav-main .topnav-left ul li {
  list-style-type: none;
  color: #ffffff;
  padding: 0.8rem 3rem 0.8rem 0;
}

@media (max-width: 890px) {
  .topnav .topnav-main .topnav-left ul li:nth-child(2) {
    display: none;
  }
}

.topnav .topnav-main .topnav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 870px) {
  .topnav .topnav-main .topnav-right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (max-width: 600px) {
  .topnav .topnav-main .topnav-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.topnav .topnav-main .topnav-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topnav .topnav-main .topnav-right ul li {
  list-style-type: none;
}

.topnav .topnav-main .topnav-right ul li a {
  color: #ffffff;
  padding: 0.8rem 3rem;
  display: block;
}

@media (max-width: 1200px) {
  .topnav .topnav-main .topnav-right ul li a {
    padding: 0.8rem 2rem;
  }
}

@media (max-width: 1010px) {
  .topnav .topnav-main .topnav-right ul li a {
    padding: 0.8rem 1rem;
  }
}

@media (max-width: 600px) {
  .topnav .topnav-main .topnav-right ul li a {
    padding: 0.8rem 5rem;
  }
}

@media (max-width: 550px) {
  .topnav .topnav-main .topnav-right ul li a {
    padding: 0.8rem 2.6rem;
  }
}

.topnav .topnav-main .topnav-right .topnav-login {
  background-color: #fbea26;
  color: #191e27;
}

.topnav .topnav-main i {
  font-size: 1rem;
  margin-right: 0.2rem;
}

.topnav .topnav-main a {
  color: #ffffff;
}

/* NAVBAR starts here */
.main-nav {
  background-color: #ffffff;
  z-index: 999;
}

@media (max-width: 1280px) {
  .main-nav {
    padding: 0 1rem;
  }
}

@media (max-width: 800px) {
  .main-nav {
    padding: 1rem;
  }
}

.main-nav .nav-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 800px) {
  .main-nav .nav-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.main-nav .nav-container a {
  color: #191e27;
  text-decoration: none;
  display: block;
}

.main-nav .nav-container ul {
  list-style: none;
}

.main-nav .nav-container .logo {
  height: 55px;
}

.main-nav .nav-container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 800px) {
  .main-nav .nav-container .menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    margin-top: 2rem;
  }
}

.main-nav .nav-container .menu .item {
  position: relative;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main-nav .nav-container .menu .item:hover {
  background-color: #fbea26;
}

@media (max-width: 800px) {
  .main-nav .nav-container .menu .item {
    width: 100%;
    border-bottom: 1px solid #191e27;
  }
}

.main-nav .nav-container .menu .menu-nav {
  padding: 2.5rem 1.5rem;
  -webkit-transition: padding 0.4s ease-out;
  transition: padding 0.4s ease-out;
}

@media (max-width: 800px) {
  .main-nav .nav-container .menu .menu-nav {
    padding: 1rem;
  }
}

.main-nav .nav-container .menu .dropdown {
  position: relative;
  margin-right: 1rem;
}

@media (max-width: 800px) {
  .main-nav .nav-container .menu .dropdown {
    margin-right: 0;
  }
}

.main-nav .nav-container .menu .dropdown .dropdown-content {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #f9f9f9;
  min-width: 160px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.5rem;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

@media (max-width: 800px) {
  .main-nav .nav-container .menu .dropdown .dropdown-content {
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
  }
}

.main-nav .nav-container .menu .dropdown .dropdown-content li {
  border-bottom: 1px solid #191e27;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.main-nav .nav-container .menu .dropdown .dropdown-content li:last-child {
  border-bottom: none;
}

.main-nav .nav-container .menu .dropdown .dropdown-content li:hover {
  background-color: #fbea26;
}

.main-nav .nav-container .menu .dropdown .dropdown-content li a {
  color: #191e27;
  padding: 0.8rem 1.2rem;
  text-decoration: none;
  display: block;
  text-align: left;
}

.main-nav .nav-container .menu .dropdown:hover .dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1050px) {
  .main-nav .nav-container .menu .search-container #search-bar {
    display: none;
  }
}

@media (max-width: 800px) {
  .main-nav .nav-container .menu .search-container #search-bar {
    display: block;
    margin-left: 1rem;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .main-nav .nav-container .menu .search-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1rem;
    padding: 0 1rem;
    width: 100%;
  }
}

.main-nav .nav-container #search-bar {
  padding: 6px;
  border: 1px solid grey;
  font-size: 17px;
}

.main-nav .nav-container .mobile-nav-btn {
  display: none;
}

.main-nav .nav-container .mobile-nav-btn i {
  font-size: 3rem;
}

@media (max-width: 800px) {
  .main-nav .nav-container .mobile-nav-btn {
    display: block;
    position: absolute;
    right: 0;
    top: 3px;
  }
}

.main-nav .nav-container .mobile-menu {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);
}

.sticky .nav-container .menu .menu-nav {
  padding: 2rem 1.5rem;
}

@media (max-width: 800px) {
  .sticky .nav-container .menu .menu-nav {
    padding: 1rem;
  }
}

/* NAVBAR ends here */
.services {
  -ms-grid-columns: 5px 2fr 20px 1fr 5px;
      grid-template-columns: 5px 2fr 20px 1fr 5px;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". services-main . calender-main .";
  padding: 4rem 0;
}

@media (max-width: 1280px) {
  .services {
    padding: 4rem 1rem;
  }
}

@media (max-width: 800px) {
  .services {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "services-main" "calender-main";
  }
}

.services #services-main {
  background-color: #fbea26;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
  display: -ms-grid;
  display: grid;
      grid-template-areas: "item-1 item-8" "item-2 item-8" "item-3 item-8" "item-4 item-8" "item-5 item-8" "item-6 item-8" "item-7 item-8" "service-btn item-8";
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: services-main;
  padding: 1rem;
}

@media (max-width: 1020px) {
  .services #services-main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "item-1" "item-2" "item-3" "item-4" "item-5" "item-6" "item-7" "service-btn";
  }
}

@media (max-width: 800px) {
  .services #services-main {
    margin-bottom: 2rem;
  }
}

.services #services-main .item {
  border-bottom: solid 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
  padding: 0 0.4rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.services #services-main .item:hover {
  background-color: rgba(25, 30, 39, 0.2);
  padding-left: 1.5rem;
}

@media (max-width: 800px) {
  .services #services-main .item {
    padding: 0.5rem 0;
  }
}

.services #services-main .item-1 {
  text-transform: uppercase;
  font-size: 30px;
}

@media (max-width: 870px) {
  .services #services-main .item-1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .services #services-main .item-1 {
    font-size: 1rem;
  }
}

.services #services-main .item-7 {
  border: transparent;
}

.services #services-main .item-8 {
  background-color: #191e27;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px;
}

.services #services-main .item-8 > p {
  color: white;
  margin: 10px;
}

.services #services-main .left {
  font-size: 20px;
}

.services #services-main .left > p:hover {
  cursor: pointer;
}

.services #services-main .item-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: item-1;
}

.services #services-main .item-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: item-2;
}

.services #services-main .item-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: item-3;
}

.services #services-main .item-4 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: item-4;
}

.services #services-main .item-5 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: item-5;
}

.services #services-main .item-6 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: item-6;
}

.services #services-main .item-7 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: item-7;
}

.services #services-main .item-8 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 8;
  -ms-grid-column: 2;
  grid-area: item-8;
}

@media (max-width: 1020px) {
  .services #services-main .item-8 {
    display: none;
  }
}

.services #services-main .service-btn {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: service-btn;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  margin-right: 1rem;
  margin-top: 1rem;
}

.services #services-main .service-btn a {
  text-transform: uppercase;
}

.services #calender-main {
  -ms-grid-columns: 2fr 4fr;
      grid-template-columns: 2fr 4fr;
  -ms-grid-rows: 1fr 0.7fr (1fr)[3] 0.5fr;
      grid-template-rows: 1fr 0.7fr repeat(3, 1fr) 0.5fr;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "list-1 list-1" "list-2 list-2" "list-3 list-4" "list-5 list-6" "list-7 list-8" "list-9 list-9";
  position: relative;
  border: solid 2.5px;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: calender-main;
}

.services #calender-main .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services #calender-main .text {
  margin-left: 15px;
}

.services #calender-main #grey {
  background-color: lightgrey;
}

.services #calender-main #date {
  font-size: 50px;
}

.services #calender-main .list-1 {
  background-color: #fbea26;
  border-bottom: solid 2.5px;
  text-transform: uppercase;
  font-size: 20px;
}

.services #calender-main .list-2 {
  font-size: 17px;
}

.services #calender-main .list-9 {
  border-top: solid 2.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 1rem;
}

.services #calender-main #last {
  text-decoration: underline;
}

.services #calender-main #last:hover {
  cursor: pointer;
}

.services #calender-main .list-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: list-1;
}

.services #calender-main .list-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: list-2;
}

.services #calender-main .list-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: list-3;
}

.services #calender-main .list-4 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: list-4;
}

.services #calender-main .list-5 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: list-5;
}

.services #calender-main .list-6 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: list-6;
}

.services #calender-main .list-7 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: list-7;
}

.services #calender-main .list-8 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: list-8;
}

.services #calender-main .list-9 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: list-9;
}

.news-section {
  padding: 4rem 0;
  background-color: #c4c4c4;
}

@media (max-width: 1280px) {
  .news-section {
    padding: 4rem 1rem;
  }
}

@media (max-width: 800px) {
  .news-section {
    padding: 2rem;
  }
}

@media (max-width: 600px) {
  .news-section {
    padding: 2rem 1rem;
  }
}

@media (max-width: 500px) {
  .news-section {
    padding: 1.5rem 0.3rem;
  }
}

.news-section h2 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.news-section .news-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 800px) {
  .news-section .news-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.news-section .news-content .news-item {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  padding: 0.5rem;
}

@media (max-width: 800px) {
  .news-section .news-content .news-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.news-section .news-content .news-item img {
  width: 100%;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.news-section .news-content .news-item img:hover {
  opacity: 0.7;
}

.news-section .news-content .news-item figcaption {
  margin-top: 1rem;
}

.news-section .news-content .news-item figcaption h3 {
  margin-bottom: 0.3rem;
}

.news-section .news-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2rem 0;
}

.news-section .news-btn a {
  padding: 1rem 2rem;
  background-color: #fbea26;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-myh {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4rem;
  margin: 0 auto;
}

.btn-myh .btn-container-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btn-myh .btn-container-start .btn-anmal,
.btn-myh .btn-container-start .btn-hitta,
.btn-myh .btn-container-start .btn-ledare,
.btn-myh .btn-container-start .btn-gd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  border-radius: 1rem;
  text-transform: uppercase;
  text-align: center;
  width: 350px;
  font-weight: bold;
}

.btn-myh .btn-container-start .btn-start-page {
  margin: 1em;
}

.btn-myh .btn-container-start .btn-anmal {
  color: #191e27;
}

.btn-myh .btn-container-start .btn-anmal:hover {
  background-color: #ead704;
}

.btn-myh .btn-container-start .btn-hitta {
  color: #ffffff;
}

.btn-myh .btn-container-start .btn-hitta:hover {
  background-color: #0b2415;
}

.btn-myh .btn-container-start .btn-ledare {
  color: #ffffff;
}

.btn-myh .btn-container-start .btn-ledare:hover {
  background-color: #0f447f;
}

.btn-anmal {
  background-color: #fbea26;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn-anmal:active {
  position: relative;
  top: 8px;
}

.btn-hitta {
  background-color: #174b2c;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn-hitta:active {
  position: relative;
  top: 8px;
}

.btn-ledare {
  background-color: #145cad;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn-ledare:active {
  position: relative;
  top: 8px;
}

.btn-gd {
  background-color: #145cad;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn-gd:active {
  position: relative;
  top: 8px;
}

@media only screen and (max-width: 730px) {
  .btn-myh .btn-container-start .btn-anmal,
  .btn-myh .btn-container-start .btn-hitta,
  .btn-myh .btn-container-start .btn-ledare,
  .btn-myh .btn-container-start .btn-gd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem;
    border-radius: 1rem;
    text-transform: uppercase;
    text-align: center;
  }
}

footer .footer-main {
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, #191e27), color-stop(40%, #fbea26));
  background: linear-gradient(90deg, #191e27 60%, #fbea26 40%);
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 800px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

@media (max-width: 1230px) {
  footer h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 960px) {
  footer h2 {
    font-size: 1.3rem;
  }
}

@media (max-width: 840px) {
  footer h2 {
    font-size: 1rem;
  }
}

footer h2::before {
  content: "";
  width: 10px;
  height: 24px;
  background-color: #fbea26;
  display: inline-block;
  margin-right: 10px;
}

footer .footer-left {
  background-color: #191e27;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 4rem 0 4rem 1rem;
  color: #ffffff;
}

footer .footer-left h2 {
  margin-bottom: 2rem;
}

footer .footer-left .footer-contact {
  padding: 1rem 0;
  font-size: 1.2rem;
}

@media (max-width: 960px) {
  footer .footer-left .footer-contact {
    font-size: 1rem;
  }
}

footer .footer-left .footer-contact .contact-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

@media (max-width: 960px) {
  footer .footer-left .footer-contact .contact-title {
    font-size: 1.2rem;
  }
}

footer .footer-right {
  background-color: #fbea26;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 4rem 0 4rem 1rem;
  color: #191e27;
}

footer .footer-right h2 {
  margin-bottom: 2rem;
}

footer .footer-right h2::before {
  background-color: #191e27;
}

footer .footer-right ul {
  list-style: none;
}

footer .footer-right ul li {
  padding: 0.5rem 1rem;
}

footer .footer-right ul a {
  color: #191e27;
  font-size: 1rem;
}

footer .footer-right .external-websites i {
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

footer .footer-right .internal-links {
  margin-top: 3rem;
}

footer .footer-bar {
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, #fbea26), color-stop(40%, #191e27));
  background: linear-gradient(90deg, #fbea26 60%, #191e27 40%);
}

footer .footer-bar .footer-left {
  background-color: #fbea26;
  padding: 1rem 0 1rem 1rem;
  color: #191e27;
}

@media (max-width: 800px) {
  footer .footer-bar .footer-left {
    text-align: center;
  }
}

footer .footer-bar .footer-right {
  background-color: #191e27;
  padding: 1rem 0 1rem 1rem;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-bar .footer-right a {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-bar .youtube i {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

@media (max-width: 1230px) {
  footer .footer-bar .youtube {
    padding-right: 1rem;
    padding-left: 0;
  }
}

@media (max-width: 800px) {
  footer .footer-bar .youtube {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact-page-wrapper h1 {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
}

.contact-page-wrapper h2 {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
}

.contact-page-wrapper p {
  font-size: 1rem;
  padding-top: 0.5rem;
}

.contact-landing-graphic-wrapper {
  background-color: #191e27;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1rem;
}

.contact-landing-graphic-wrapper h1 {
  font-size: 1rem;
  font-weight: 300;
  padding-bottom: 60px;
  margin-top: 2rem;
}

.contact-landing-graphic-wrapper p {
  margin-right: 10%;
  padding-bottom: 10%;
}

.contact-landing-text {
  padding-top: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contact-cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1280px;
}

.contact-card {
  width: 80%;
  background-color: #b7d7e6;
  -webkit-filter: drop-shadow(-10px 7px 4px rgba(25, 30, 39, 0.12));
          filter: drop-shadow(-10px 7px 4px rgba(25, 30, 39, 0.12));
  padding: 10px;
  margin: 5px;
  line-height: 1.5rem;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.contact-card:nth-child(2n) {
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
}

.contact-card h3 {
  font-weight: 400;
  font-size: 1.2rem;
  padding: 0 0 1rem 0;
  text-transform: uppercase;
}

@media (min-width: 540px) {
  .contact-card {
    width: 40%;
  }
}

@media (min-width: 800px) {
  .contact-card {
    width: 27%;
  }
}

.contact-card-list-hidden {
  list-style: none;
  font-size: 1rem;
}

.contact-card-list-hidden a {
  color: blue;
}

.iframe-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0 20px 0;
}

.forum-button {
  font-size: 1rem;
  background-color: #fbea26;
  color: black;
  padding: 12px 36px;
  text-transform: uppercase;
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
  .contact-landing-graphic-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0;
    margin-right: 0;
  }
  .contact-landing-graphic-wrapper h2 {
    font-size: 1rem;
  }
  .contact-landing-graphic-wrapper p {
    font-size: 1rem;
    margin-left: 1rem;
  }
  .contact-landing-graphic-wrapper .contact-landing-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5%;
  }
}

.breadcrumbs {
  padding: 1em;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 0;
  background-color: #f5f5f5;
}

.about-container .landing-page-heading {
  padding-left: 0.8rem;
}

.about-container .main-section {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-right: 1em;
  padding-left: 1em;
  background-color: white;
}

.about-container .main-section article {
  margin: 1em;
  background-color: white;
}

.about-container .main-section article .preamble {
  margin: 1em 3em 1em 0;
  font-size: 1.5em;
}

.about-container .main-section article p {
  margin: 1em 10% 1em 0;
}

.about-container .main-section article .landing-page-img {
  width: 100%;
}

.about-container .main-section article a {
  color: #145cad;
}

.about-container aside {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 1em;
  margin-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 1em;
}

.about-container aside .side-menu {
  background-color: #191e27;
  /* för description bredvid active */
}

.about-container aside .side-menu .title {
  font-size: 1em;
  color: white;
  font-weight: bold;
}

.about-container aside .side-menu .description {
  color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s;
  transition: max-height 0.3s;
}

.about-container aside .side-menu .active + .description {
  max-height: 200px;
  -webkit-transition: max-height 0.2s;
  transition: max-height 0.2s;
}

.about-container aside .side-menu ul {
  list-style: none;
  padding: 1em;
  text-decoration: none;
  line-height: 1.5em;
  cursor: pointer;
}

.about-container aside .side-menu ul a {
  color: white;
}

.about-container aside .btn-section {
  margin: 1em 0 0 0;
}

.about-container aside .btn-section .btn {
  height: 5rem;
  width: 100%;
  font-size: medium;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  padding: 2rem;
  border: none;
  border-radius: 1rem;
  text-decoration: none;
  display: inline-block;
  min-width: 350px;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.about-container aside .btn-section .gd {
  background-color: #174b2c;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.about-container aside .btn-section .gd:hover {
  background-color: #0b2415;
  text-decoration: underline;
}

.about-container aside .btn-section .hitta {
  background-color: #fbea26;
  color: #191e27;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.about-container aside .btn-section .hitta:hover {
  background-color: #d1c004;
  text-decoration: underline;
}

.about-container aside .btn-section .anmal-btn {
  background-color: #fbea26;
  color: #191e27;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.about-container aside .btn-section .anmal-btn:hover {
  background-color: #d1c004;
  text-decoration: underline;
}

.about-container aside .competitions {
  background-color: #e7e7e7;
  padding: 1em;
}

.about-container aside .competitions p {
  margin-bottom: 1em;
}

.about-container aside .competitions a {
  color: #145cad;
}

.landing-page-heading {
  font-size: 3em;
}

@media only screen and (max-width: 1050px) {
  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about-container .main-section article p {
    margin: 1em 0 0 0;
  }
  .about-container aside .btn-section,
  .about-container aside .competitions {
    display: none;
  }
}

/* PUBLICATIONS starts here */
.breadcrumbs {
  padding: 1em;
}

.publications-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 0;
  background-color: #e5e5e5;
}

.publications-container .landing-page-heading {
  padding-left: 0.8rem;
}

.publications-container .main-section {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-right: 1em;
  padding-left: 1em;
  background-color: #ffffff;
}

.publications-container .main-section article {
  margin: 1em;
  background-color: #ffffff;
}

.publications-container .main-section article .preamble {
  margin: 1em 3em 1em 0;
  font-size: 1.5em;
}

.publications-container .main-section article p {
  margin: 1em 4em 1em 0;
}

.publications-container .main-section article .landing-page-img {
  width: 100%;
}

.publications-container .publication-list .pub-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #2d3646;
  background-color: #e5e5e5;
}

.publications-container .publication-list .pub-item img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1em;
}

.publications-container .publication-list .pub-item .pub-item-content {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 1em;
}

.publications-container .publication-list .pub-item .pub-item-content .pub-item-heading {
  color: #191e27;
  font-size: 1.3em;
}

.publications-container .publication-list .pub-item .pub-item-content h4 {
  margin-bottom: 1em;
}

.publications-container .publication-list .pub-item .pub-item-content .preview {
  margin-bottom: 1em;
}

.publications-container .publication-list .pub-item .pub-item-content .preview .release-date {
  margin-right: 1em;
  text-transform: uppercase;
  font-size: 0.8 em;
  font-weight: bold;
  color: #2d3646;
}

.publications-container .publication-list .pub-item a {
  color: #145cad;
}

.publications-container .page-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.publications-container .page-select .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.publications-container .page-select .pagination li {
  list-style: none;
  padding: 1em;
  border-left: 1px solid #2d3646;
}

.publications-container aside {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 1em;
  margin-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  padding: 1em;
}

.publications-container aside .mobile-filter-type {
  display: none;
}

.publications-container aside #publication-search-bar {
  margin: 1em 0;
  padding: 4px;
  border: 1px solid #2d3646;
}

.publications-container aside .main-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e5e5e5;
  padding: 1em;
}

.publications-container aside .main-filter .flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.publications-container aside .main-filter .flexbox i,
.publications-container aside .main-filter .flexbox .publication-search {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.publications-container aside .main-filter .flexbox .btn-reset {
  font-size: medium;
  font-weight: bold;
  color: #191e27;
  font-size: 1em;
  text-align: center;
  margin: 1em 0;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  text-decoration: none;
  display: inline-block;
  background-color: #35ad65;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.publications-container aside .main-filter .flexbox .btn-reset:hover {
  background-color: #174b2c;
  color: #ffffff;
}

.publications-container aside .filters-section .filter-type {
  padding: 1em 0.5em 1em 0.5em;
  margin: 1em 0 1em 0;
  border-top: 1px solid #2d3646;
}

.publications-container aside .filters-section .filter-type .filter-heading {
  font-size: 1.3em;
}

.publications-container aside .filters-section .filter-type .filter-options {
  list-style: none;
  line-height: 1.5em;
}

.publications-container aside .filters-section .filter-type .filter-options li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 0;
  margin: 0 1em;
  border-bottom: 1px solid #e5e5e5;
}

.publications-container aside .filters-section .filter-type .filter-options li .reset {
  font-weight: bold;
  margin-left: -1em;
}

.publications-container aside .filters-section .filter-type .filter-options li a {
  color: #145cad;
  text-decoration: underline;
}

.publications-container .landing-page-heading {
  font-size: 3em;
}

/* PUBLICATIONS ends here */
@media only screen and (max-width: 800px) {
  .publications-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .publications-container .main-section article .preamble {
    font-size: 1em;
  }
  .publications-container .filters-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 1em;
  }
  .publications-container .filters-section .mobile-filter-heading {
    margin: 0.5em 0 0.2em 0;
  }
  .publications-container .filter-type {
    display: none;
  }
  .publications-container aside .mobile-filter-type {
    display: block;
    padding-left: 1em;
  }
}

@media only screen and (max-width: 630px) {
  .filters-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .publications-container .mobile-filter-type {
    padding-left: 0;
  }
}

.page-services .page-content {
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1280px) {
  .page-services .page-content {
    padding: 4rem 1rem;
  }
}

@media (max-width: 1160px) {
  .page-services .page-content {
    padding: 3rem;
  }
}

@media (max-width: 960px) {
  .page-services .page-content {
    padding: 3rem 2rem;
  }
}

@media (max-width: 840px) {
  .page-services .page-content {
    padding: 3rem 1rem;
  }
}

@media (max-width: 730px) {
  .page-services .page-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
  }
}

@media (max-width: 600px) {
  .page-services .page-content {
    padding: 2rem 1rem;
  }
}

.page-services .page-content .sevice-item {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  padding: 1rem;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 2rem;
  -webkit-transition: border 0.3s ease-out;
  transition: border 0.3s ease-out;
}

@media (max-width: 1160px) {
  .page-services .page-content .sevice-item {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

.page-services .page-content .sevice-item:hover {
  border: 1px solid #191e27;
}

.page-services .page-content .sevice-item:hover img {
  border-radius: 5px;
}

.page-services .page-content .sevice-item:hover a {
  text-decoration: none;
}

.page-services .page-content .sevice-item:hover h2 {
  text-decoration: underline;
}

.page-services .page-content .sevice-item img {
  width: 100%;
  height: 211px;
  -webkit-transition: border-radius 0.3s ease-out;
  transition: border-radius 0.3s ease-out;
}

@media (max-width: 1280px) {
  .page-services .page-content .sevice-item h2 {
    font-size: 1rem;
  }
}

.page-title {
  padding: 2rem 0;
  text-align: center;
  background-color: #f5f5f5;
  color: #191e27;
}

.page-title h1 {
  font-size: 2rem;
}

@media (max-width: 730px) {
  .page-title h1 {
    font-size: 1.5rem;
  }
}

.page-title .page-title-p {
  width: 50%;
  margin: 0 auto;
}

.nyheter {
  display: -ms-grid;
  display: grid;
  height: 300vh;
  -ms-grid-columns: 1fr 0.05fr 0.4fr;
      grid-template-columns: 1fr 0.05fr 0.4fr;
  -ms-grid-rows: 0.05fr 1fr 1fr;
      grid-template-rows: 0.05fr 1fr 1fr;
      grid-template-areas: "nyheter-main . side-menu" "nyheter-main . btn-section" "nyheter-main . .";
}

.nyheter .nyheter-main {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: nyheter-main;
  background-color: #f5f5f5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[9];
      grid-template-rows: repeat(9, 1fr);
      grid-template-areas: "aktuellt-content" "aktuellt-content" "aktuellt-content" "aktuellt-content" "aktuellt-content" "aktuellt-content" "aktuellt-content" "aktuellt-content" "aktuellt-content";
}

.nyheter .nyheter-main .title-text {
  text-align: center;
  padding: 10px;
}

.nyheter .nyheter-main .title-text:hover {
  cursor: pointer;
  background: lightgrey;
}

.nyheter .nyheter-main .aktuellt-content {
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  -ms-grid-column: 1;
  grid-area: aktuellt-content;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[9];
      grid-template-rows: repeat(9, 1fr);
  display: -ms-grid;
  display: grid;
      grid-template-areas: "aktuellt-main-1" "aktuellt-main-2" "aktuellt-main-3" "aktuellt-main-4" "aktuellt-main-5" "aktuellt-main-6" "aktuellt-main-7" "aktuellt-main-8" "aktuellt-main-9";
}

.nyheter .nyheter-main .aktuellt-content .aktuellt-main {
  border-bottom: 2px solid grey;
  margin: 20px;
}

.nyheter .nyheter-main .aktuellt-content .aktuellt-main h2:hover {
  cursor: pointer;
  text-decoration: underline;
}

.nyheter .nyheter-main .aktuellt-content h2 {
  margin-bottom: 10px;
}

.nyheter .nyheter-main .aktuellt-content .published {
  color: blue;
}

.nyheter .nyheter-main .aktuellt-content .aktuellt-main-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: aktuellt-main-1;
}

.nyheter .nyheter-main .aktuellt-content .aktuellt-main-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: aktuellt-main-2;
}

.nyheter .nyheter-main .aktuellt-content .aktuellt-main-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: aktuellt-main-3;
}

.nyheter .nyheter-main .aktuellt-content .aktuellt-main-4 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: aktuellt-main-4;
}

.nyheter .nyheter-main .aktuellt-content .aktuellt-main-5 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: aktuellt-main-5;
}

.nyheter .nyheter-main .aktuellt-content .aktuellt-main-6 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: aktuellt-main-6;
}

.nyheter .nyheter-main .aktuellt-content .aktuellt-main-7 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: aktuellt-main-7;
}

.nyheter .nyheter-main .aktuellt-content .aktuellt-main-8 {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: aktuellt-main-8;
}

.nyheter .nyheter-main .aktuellt-content .aktuellt-main-9 {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: aktuellt-main-9;
}

.nyheter .side-menu {
  background-color: #191e27;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: side-menu;
  margin-bottom: 20px;
  border-radius: 5px;
}

.nyheter .side-menu .title {
  color: white;
  font-weight: bold;
  margin: 5px;
}

.nyheter .side-menu ul {
  list-style: none;
  padding: 1em;
  text-decoration: none;
  line-height: 1.5em;
}

.nyheter .side-menu ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.nyheter .side-menu ul a {
  color: white;
}

.nyheter .btn-section {
  margin: 1em 0 0 0;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: btn-section;
}

.nyheter .btn-section .btn {
  height: 5rem;
  width: 100%;
  font-size: medium;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  padding: 2rem;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  min-width: 350px;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.nyheter .btn-section .gd {
  background-color: #fbea26;
  color: #191e27;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nyheter .btn-section .gd:hover {
  background-color: #ead704;
}

.nyheter .btn-section .hitta {
  background-color: darkslategrey;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nyheter .btn-section .hitta:hover {
  background-color: #121f1f;
}

@media only screen and (max-width: 600px) {
  .nyheter {
    display: -ms-grid;
    display: grid;
    height: 390vh;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.05fr 1fr 1fr;
        grid-template-rows: 0.05fr 1fr 1fr;
        grid-template-areas: "side-menu" "nyheter-main" "btn-section";
  }
}

.nav-side {
  padding: 1em;
}

.statistic {
  background-color: #fffefe;
  margin: 1rem;
}

.statistic .statistic-navbar {
  text-align: left;
  background-color: #191e27;
  width: 22rem;
  margin-left: 10rem;
}

.statistic .statistic-navbar aside {
  padding: 1rem;
}

.statistic .statistic-navbar aside .side-menu {
  background-color: #191e27;
  /* för description bredvid active */
}

.statistic .statistic-navbar aside .side-menu .title {
  color: #ffffff;
  font-weight: bold;
}

.statistic .statistic-navbar aside .side-menu .description {
  color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s;
  transition: max-height 0.3s;
}

.statistic .statistic-navbar aside .side-menu .active + .description {
  max-height: 200px;
  -webkit-transition: max-height 0.2s;
  transition: max-height 0.2s;
}

.statistic .statistic-navbar aside .side-menu ul {
  list-style: none;
  padding: 1em;
  text-decoration: none;
  line-height: 2em;
  cursor: pointer;
}

.statistic .statistic-navbar aside .side-menu ul a {
  color: white;
}

.statistic h2 {
  text-align: left;
  padding: 1rem 10rem;
}

.statistic .float-img {
  float: right;
  padding-right: 10rem;
  height: auto;
  width: auto;
}

.statistic .statistic-main {
  text-align: left;
  padding-left: 2rem;
  padding-bottom: 2rem;
  border: none;
}

@media all and (max-width: 420px) {
  .statistic .float-img,
  .statistic .statistic-navbar {
    width: 100%;
    margin: auto;
    float: none;
  }
}
